<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	{% if page.description %}
	<meta name="description" content="{{ page.description }}"/>
	{% else %}
	<meta name="description" content="{{ site.description }}"/>
	{% endif %}

    <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}"/>
    <link rel="stylesheet" href="{{ '/fonts/font-awesome-4.2.0/css/font-awesome.min.css' | prepend: site.baseurl }}"/>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"/>
	
	<script type="text/javascript" src="{{ '/js/html5shiv.min.js' | prepend: site.baseurl }}"></script>
	<script type="text/javascript" src="{{ '/js/respond.min.js' | prepend: site.baseurl }}"></script>
</head>
